<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Home</key>
	<dict>
		<key>urlString</key>
		<string>http://thedailydoll.com</string>
		<key>title</key>
		<string>HOME</string>
	</dict>
	<key>Menu</key>
	<array>
		<dict>
			<key>position</key>
			<integer>3</integer>
			<key>menuItems</key>
			<array>
				<dict>
					<key>position</key>
					<integer>1</integer>
					<key>urlString</key>
					<string>http://thedailydoll.com/videos/</string>
					<key>title</key>
					<string>videos</string>
				</dict>
			</array>
			<key>title</key>
			<string>videos</string>
		</dict>
		<dict>
			<key>position</key>
			<integer>2</integer>
			<key>menuItems</key>
			<array>
				<dict>
					<key>position</key>
					<integer>1</integer>
					<key>urlString</key>
					<string>http://thedailydoll.com/category/beauty/i-love-the-drugstore-beauty/</string>
					<key>title</key>
					<string>i adore the drugstore</string>
				</dict>
				<dict>
					<key>position</key>
					<integer>3</integer>
					<key>urlString</key>
					<string>http://thedailydoll.com/category/beauty/diy-beauty/</string>
					<key>title</key>
					<string>diy beauty</string>
				</dict>
				<dict>
					<key>position</key>
					<integer>4</integer>
					<key>urlString</key>
					<string>http://thedailydoll.com/category/beauty/beauty-talk/</string>
					<key>title</key>
					<string>beauty talk &amp; reviews</string>
				</dict>
			</array>
			<key>title</key>
			<string>the beauty stuff</string>
		</dict>
		<dict>
			<key>position</key>
			<integer>0</integer>
			<key>menuItems</key>
			<array>
				<dict>
					<key>position</key>
					<integer>1</integer>
					<key>urlString</key>
					<string>http://thedailydoll.com/category/life/what-men-really-think/</string>
					<key>title</key>
					<string>a man&apos;s perspective</string>
				</dict>
				<dict>
					<key>position</key>
					<integer>2</integer>
					<key>urlString</key>
					<string>http://thedailydoll.com/category/life/real-talk/</string>
					<key>title</key>
					<string>i&apos;m just being honest!</string>
				</dict>
				<dict>
					<key>position</key>
					<integer>3</integer>
					<key>urlString</key>
					<string>http://thedailydoll.com/category/life/inspiration-bits/</string>
					<key>title</key>
					<string>inspiration bits</string>
				</dict>
			</array>
			<key>title</key>
			<string>the life stuff</string>
		</dict>
		<dict>
			<key>position</key>
			<integer>1</integer>
			<key>menuItems</key>
			<array>
				<dict>
					<key>position</key>
					<integer>1</integer>
					<key>urlString</key>
					<string>http://thedailydoll.com/category/wellness/happy-body/</string>
					<key>title</key>
					<string>have a happy body</string>
				</dict>
			</array>
			<key>title</key>
			<string>the wellness stuff</string>
		</dict>
	</array>
</dict>
</plist>
