<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Home</key>
	<dict>
		<key>url</key>
		<string>http://thedailydoll.com</string>
		<key>title</key>
		<string>HOME</string>
	</dict>
	<key>Menu</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array/>
					<key>url</key>
					<string>http://thedailydoll.com/category/wellness/happy-body/</string>
					<key>Title</key>
					<string>HAVE A HAPPY BODY</string>
				</dict>
			</array>
			<key>position</key>
			<integer>1</integer>
			<key>isHeader</key>
			<true/>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>THE WELLNESS STUFF</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array/>
					<key>url</key>
					<string>http://thedailydoll.com/category/beauty/beauty-talk/</string>
					<key>title</key>
					<string>BEAUTY TALK &amp; REVIEWS</string>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array/>
							<key>url</key>
							<string>http://thedailydoll.com/category/beauty/i-love-the-drugstore-beauty/</string>
							<key>title</key>
							<string>Child 3</string>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>url</key>
							<string>http://thedailydoll.com/category/beauty/i-love-the-drugstore-beauty/</string>
							<key>title</key>
							<string>Child 2</string>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>url</key>
							<string>http://thedailydoll.com/category/beauty/i-love-the-drugstore-beauty/</string>
							<key>title</key>
							<string>Child 1</string>
						</dict>
					</array>
					<key>url</key>
					<string>http://thedailydoll.com/category/beauty/i-love-the-drugstore-beauty/</string>
					<key>title</key>
					<string>I ADORE THE DRUGSTORE</string>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>url</key>
					<string>http://thedailydoll.com/category/beauty/diy-beauty/</string>
					<key>title</key>
					<string>DIY BEAUTY</string>
				</dict>
			</array>
			<key>position</key>
			<integer>2</integer>
			<key>isHeader</key>
			<true/>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>THE BEAUTY STUFF</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array/>
					<key>url</key>
					<string>http://thedailydoll.com/category/life/what-men-really-think/</string>
					<key>title</key>
					<string>A MAN&apos;S PERSPECTIVE</string>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>url</key>
					<string>http://thedailydoll.com/category/life/real-talk/</string>
					<key>title</key>
					<string>I&apos;M JUST BEING HONEST!</string>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>url</key>
					<string>http://thedailydoll.com/category/life/inspiration-bits/</string>
					<key>title</key>
					<string>INSPIRATION BITS</string>
				</dict>
			</array>
			<key>position</key>
			<integer>0</integer>
			<key>isHeader</key>
			<true/>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>THE LIFE STUFF</string>
		</dict>
	</array>
</dict>
</plist>
