<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InstagramAuthToken</key>
	<string>401224799.1677ed0.24f7ddf7928f49e1b08bffa7b79c9ea1</string>
	<key>FacebookAuthToken</key>
	<string>352521494954785|hXoNpraF9qIZaZ6jJljGLsxydtI</string>
	<key>Project</key>
	<dict>
		<key>Social</key>
		<array>
			<dict>
				<key>accountName</key>
				<string></string>
				<key>image</key>
				<string>sms</string>
				<key>accountUrl</key>
				<string></string>
				<key>platformId</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>accountName</key>
				<string></string>
				<key>image</key>
				<string>mail</string>
				<key>accountUrl</key>
				<string></string>
				<key>platformId</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>accountName</key>
				<string>thedailydollblog</string>
				<key>accountId</key>
				<string>1375752596010969</string>
				<key>image</key>
				<string>facebook</string>
				<key>accountUrl</key>
				<string>https://www.facebook.com/thedailydollblog</string>
				<key>platformId</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>accountName</key>
				<string>thelaceyjohnson</string>
				<key>accountId</key>
				<string>1442952</string>
				<key>image</key>
				<string>pintrest</string>
				<key>accountUrl</key>
				<string>https://www.pinterest.com/thelaceyjohnson/pins/</string>
				<key>platformId</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>accountId</key>
				<string>1630611914</string>
				<key>image</key>
				<string>twitter</string>
				<key>accountUrl</key>
				<string>https://twitter.com/the_daily_doll</string>
				<key>platformId</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>accountId</key>
				<string>1375752596010969</string>
				<key>accountName</key>
				<string>thedailydollblog</string>
				<key>image</key>
				<string>instagram</string>
				<key>accountUrl</key>
				<string>http://instagram.com/thedailydollblog</string>
				<key>platformId</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>accountId</key>
				<string>221581957001-l5lv9h11jtpf1g978n7fc9jqjul0oir1.apps.googleusercontent.com</string>
				<key>image</key>
				<string>googlePlus</string>
				<key>accountUrl</key>
				<string>https://plus.google.com/u/0/+Thedailydoll/posts</string>
				<key>platformId</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>MetaData</key>
		<dict>
			<key>appId</key>
			<integer>1</integer>
			<key>siteEmail</key>
			<string>Lacey@thedailydoll.com</string>
			<key>AccessoryPages</key>
			<array>
				<dict>
					<key>url</key>
					<string>http://thedailydoll.com/about-the-daily-doll/</string>
					<key>title</key>
					<string>About The Daily Doll</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://thedailydoll.com/about-me/</string>
					<key>title</key>
					<string>About Me</string>
				</dict>
			</array>
			<key>domain</key>
			<string>dailydoll</string>
			<key>siteName</key>
			<string>The Daily Doll</string>
			<key>url</key>
			<string>http://thedailydoll.com</string>
		</dict>
	</dict>
</dict>
</plist>
