<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<dict>
		<key>Social</key>
		<array>
			<dict>
				<key>Buttons</key>
				<array>
					<dict>
						<key>Id</key>
						<string>0</string>
						<key>Title</key>
						<string>View</string>
					</dict>
					<dict>
						<key>Id</key>
						<string>1</string>
						<key>Title</key>
						<string>Like</string>
					</dict>
					<dict>
						<key>Id</key>
						<string>2</string>
						<key>Title</key>
						<string>Share</string>
					</dict>
				</array>
				<key>Image</key>
				<string>facebook</string>
				<key>URL</key>
				<string>https://www.facebook.com/thedailydollblog</string>
				<key>socialId</key>
				<string>0</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>pintrest</string>
				<key>URL</key>
				<string>https://www.pinterest.com/thelaceyjohnson/pins/</string>
				<key>socialId</key>
				<string>1</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>twitter</string>
				<key>URL</key>
				<string>https://twitter.com/the_daily_doll</string>
				<key>socialId</key>
				<string>2</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>instagram</string>
				<key>URL</key>
				<string>http://instagram.com/thedailydollblog</string>
				<key>socialId</key>
				<string>3</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>googlePlus</string>
				<key>URL</key>
				<string>https://plus.google.com/u/0/+Thedailydoll/posts</string>
				<key>socialId</key>
				<string>4</string>
			</dict>
		</array>
		<key>Home</key>
		<dict>
			<key>DomainString</key>
			<string>dailydoll</string>
			<key>Title</key>
			<string>The Daily Doll</string>
			<key>URLString</key>
			<string>http://thedailydoll.com</string>
		</dict>
	</dict>
</dict>
</plist>
