<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Meta</key>
	<dict>
		<key>fontFamily</key>
		<string>SourceSansPro-Regular</string>
		<key>secondaryColor</key>
		<string>ffffff</string>
		<key>primaryColor</key>
		<string>e2c675</string>
	</dict>
	<key>ThemeItems</key>
	<array>
		<dict>
			<key>fontFamily</key>
			<string></string>
			<key>fontColor</key>
			<string></string>
			<key>id</key>
			<integer>8</integer>
			<key>backgroundColor</key>
			<string>e2c675</string>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string></string>
			<key>fontColor</key>
			<string>f4f7fc</string>
			<key>id</key>
			<integer>7</integer>
			<key>backgroundColor</key>
			<string>f4f7fc</string>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string></string>
			<key>fontColor</key>
			<string>ffffff</string>
			<key>id</key>
			<integer>6</integer>
			<key>backgroundColor</key>
			<string>e2c675</string>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string></string>
			<key>fontColor</key>
			<string>ffffff</string>
			<key>id</key>
			<integer>3</integer>
			<key>backgroundColor</key>
			<string>f4f7fc</string>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string></string>
			<key>fontColor</key>
			<string></string>
			<key>id</key>
			<integer>5</integer>
			<key>backgroundColor</key>
			<string>f4f7fc</string>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string>SourceSansPro-Regular</string>
			<key>fontColor</key>
			<string></string>
			<key>id</key>
			<integer>4</integer>
			<key>backgroundColor</key>
			<string>f4f7fc</string>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string></string>
			<key>fontColor</key>
			<string></string>
			<key>id</key>
			<integer>2</integer>
			<key>backgroundColor</key>
			<string>ffffff</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>backgroundColor</key>
			<string>ffffff</string>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string></string>
			<key>fontColor</key>
			<string>ffffff</string>
			<key>id</key>
			<integer>1</integer>
			<key>backgroundColor</key>
			<string>7b7285</string>
		</dict>
	</array>
</dict>
</plist>
