<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Theme</key>
	<dict>
		<key>ShareTableView</key>
		<dict>
			<key>backgroundColor</key>
			<string>ffffff</string>
		</dict>
		<key>ShareView</key>
		<dict>
			<key>backgroundColor</key>
			<string>ffffff</string>
		</dict>
		<key>ActivityIndicator</key>
		<dict>
			<key>backgroundColor</key>
			<string>ffffff</string>
		</dict>
		<key>NavBar</key>
		<dict>
			<key>backgroundColor</key>
			<string>e2c675</string>
			<key>fontFamily</key>
			<string></string>
			<key>fontColor</key>
			<string>ffffff</string>
		</dict>
		<key>StatusBar</key>
		<dict>
			<key>backgroundColor</key>
			<string>e2c675</string>
		</dict>
		<key>SideMenuHeader</key>
		<dict>
			<key>backgroundColor</key>
			<string>f4f7fc</string>
			<key>fontFamily</key>
			<string></string>
			<key>fontColor</key>
			<string></string>
		</dict>
		<key>SideMenuTableView</key>
		<dict>
			<key>backgroundColor</key>
			<string>f4f7fc</string>
			<key>fontFamily</key>
			<string></string>
			<key>fontColor</key>
			<string></string>
		</dict>
		<key>SideMenuCell</key>
		<dict>
			<key>backgroundColor</key>
			<string>f4f7fc</string>
			<key>fontFamily</key>
			<string></string>
			<key>fontColor</key>
			<string></string>
		</dict>
		<key>SideMenuSectionHeader</key>
		<dict>
			<key>backgroundColor</key>
			<string>e2c675</string>
			<key>fontFamily</key>
			<string></string>
			<key>fontColor</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
